<!DOCTYPE html>
<html>
  <head>
    <title>RubyChocolate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="test" />
    <meta property="og:url" content="https://ruby-chocolate.me/" />
    <meta property="og:title" content="rubyチョコレート" />
    <meta property="og:image" content="../../assets/images/chocolate.png" />
    <meta property="og:description" content="記事の要約（ディスクリプション）" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
